root = true

charset = utf-8
end_of_line = lf

[*.{cpp,h,hpp}]
indent_size = 2
indent_style = space

[*.{py}]
indent_size = 4
indent_style = space

[*.{htm,html,css}]
indent_size = 4
indent_style = space

[*.{js}]
indent_size = 4
indent_style = tab

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.{ini}]
indent_size = 4
indent_style = tab
